{% extends 'users/base2.html' %}
{% load static %}

{% block title %}Password updated - Dash MFB Operations Portal{% endblock title %}

{% block content %}

<div class="right">
    <div class="right-page">
        <div class="head2">
            <img src="{% static 'images/DASH LOGO.jpg' %}" alt="Logo">
            <span>
                <p>Dash MFB</p>
                <p>-</p>
                <p>OPERATIONS PORTAL</p>
            </span>
        </div>

        <h1>Password updated</h1>
        <p>Your password has been changed. You can now sign in with your new password.</p>

        <p class="form-alert form-alert--success" role="status">
            All set - your new password is active.
        </p>

        <a class="btn btn-link" href="{% url 'portal-login' %}">Go to log in</a>
    </div>
</div>

{% endblock content %}
