{% autoescape off %}Hello {{ user.get_full_name|default:user.get_username }},

We received a request to reset the password on your Dash MFB Operations Portal account.

Open this link to choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

The link can only be used once and expires in 3 hours.

If you didn't ask for this, you can ignore this email - your password will not change.

--
Dash MFB Operations Portal
This is an automated message; please don't reply to it.
{% endautoescape %}
