{% extends "email/base.html" %}

{% block preheader %}Choose a new password for your Dash MFB Operations Portal account.{% endblock %}
{% block title %}Reset your password{% endblock %}
{% block intro %}
  Hello {{ user.get_full_name|default:user.get_username }},
  we received a request to reset the password on your Dash MFB Operations
  Portal account.
{% endblock %}

{% block facts %}
  {% include "email/_fact.html" with label="Account" value=user.email strong=True %}
  {% include "email/_fact.html" with label="Link expires in" value="3 hours" %}
{% endblock %}

{% block body %}
  {% include "email/_note.html" with label="If this was not you" text="You can ignore this email and your password will not change. The link below works once and then stops." bg="#fdf3e2" accent="#8a5a00" %}
{% endblock %}

{% block cta_url %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endblock %}
{% block cta_url_plain %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endblock %}
{% block cta_label %}Choose a new password{% endblock %}
